{$ donation.amount $}
{$ ( 'donation_payment_interval_' ~ donation.interval ) $}

{% if donation.paymentType == 'PPL' or donation.paymentType == 'MCP' %}
	Ihre Spende per {$ donation.paymentType $} {$ donation.status $}.
{% elseif donation.paymentType == 'BEZ' %}
	Sie zahlen per {$ donation.paymentType $}
{% endif %}

{% if address and not address.isAnonymous %}
	<p>
		{$ address.salutation $} <span id="confirm-name">{$ address.fullName $}</span>
	</p>
	<p class="no-margin">
		<span id="confirm-street">{$ address.streetAddress $}</span><br/>
		<span id="confirm-postcode">{$ address.postalCode $}</span> <span id="confirm-city">{$ address.city $}</span><br/>
		<span id="confirm-mail">{$ address.email $}</span>
	</p>
{% else %}
	<p>
		Anonym
	</p>
{% endif %}

{% if donation.optsIntoNewsletter == true %}
	send-info
{% endif %}

{% include 'Membership_Application_Embedded.html.twig' %}
{% include 'Piwik.twig' %}