{% extends 'Base_Layout.html.twig' %}
{% set page_works_without_js = true %}
{% set title = site_metadata.page_titles[page_id] %}
{% set content = web_content("pages/#{page_id}") %}

{% block main %}
	<div id="app">
		<noscript>
			<h2>{$ title $}</h2>
			{$ content | raw $}
		</noscript>
	</div>
	<div id="appdata"
		class="is-hidden"
		data-page-id="{$ page_id $}"
		data-page-title="{$ title | e('html_attr') $}"
		data-page-content="{$ content | e('html_attr') | raw $}"
		data-application-vars="{$ _context|json_encode|e('html_attr') $}" 
		data-application-messages="{$ translations()|e('html_attr') $}" 
		data-assets-path="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}"
		data-tracking-url="{$ piwik.baseUrl | e('html_attr') $}">
	</div>
</div>
{% endblock %}

{% block scripts %}
	{$ parent() $}
	<script src="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}/js/privacy_protection.js"></script>
{% endblock %}
