{%- set formattedAmount = donation.amount|number_format(2, ',', '.') ~ ' Euro' -%}
{$ greeting_generator.createInformalLastnameGreeting( recipient.salutation, recipient.lastName, recipient.title )|raw $}

{% if donation.needsModeration %}{# Moderated emails look completely different #}
	{$ mail_content('donation_confirmation/needs_moderation', {
		'formatted_amount': formattedAmount
	}) $}
	{$ mail_content('donation_confirmation/greetings', { 'day_of_the_week': day_of_the_week } ) $}
{% else %}
	{% if donation.paymentType == 'UEB' %}
		{$ mail_content('donation_confirmation/paymenttype_banktransfer', {
			'formatted_amount': formattedAmount,
			'bank_transfer_code': donation.bankTransferCode,
			'donation_id': donation.id,
			'donation_interval': donation.interval|payment_interval
		}) $}

		{% if donation.interval > 0 %}
			{$ mail_content('donation_confirmation/paymenttype_banktransfer_interval', {
				'donation_interval': donation.interval|payment_interval
			}) -$}
		{% else %}
			{$ mail_content('donation_confirmation/paymenttype_banktransfer_once') $}
		{% endif %}
	{% else %}{# All payment methods except UEB share the same intro #}
		{$- mail_content('donation_confirmation/payment_intro', {
			'formatted_amount': formattedAmount,
			'donation_id': donation.id,
			'donation_interval': donation.interval|payment_interval
		}) -$}
		{% if donation.paymentType == 'BEZ' %}
			{$- mail_content('donation_confirmation/paymenttype_directdebit', {
				'formatted_amount': formattedAmount,
				'donation_interval': donation.interval
			}) $}
		{% elseif donation.paymentType == 'PPL' or donation.paymentType == 'MCP' or donation.paymentType == 'SUB' %}
			{$- mail_content('donation_confirmation/paymenttype_external', {
				'formatted_amount': formattedAmount,
				'payment_provider': donation.paymentType|payment_method
			}) -$}
			{% if donation.interval > 0 %}
				{$- mail_content('donation_confirmation/payment_interval_recurring') $}
			{%  else %}
				{$- mail_content('donation_confirmation/payment_interval_once') $}
			{% endif %}
		{% endif %}
	{% endif %}
	{% if donation.receiptOptIn %}

		{$ mail_content('donation_confirmation/receipt', {
			'donation_interval': donation.interval
		}) $}
	{% endif %}

	{% if donation.receiptOptIn == false %}
		{$ mail_content('donation_confirmation/receipt_support', {
			'donation_interval': donation.interval
		} ) $} {$ mail_content('donation_confirmation/receipt_opted_out') $}
	{% else %}
		{$ mail_content('donation_confirmation/receipt_support', {
			'donation_interval': donation.interval
		} ) $}
	{% endif %}

	{$ mail_content('donation_confirmation/greetings', { 'day_of_the_week': day_of_the_week } ) $}
{% endif %}

{$ mail_content('name_head_of_suborganization') $}
{$ mail_content('title_head_of_suborganization') $}

{% if donation.paymentType == 'MCP' and donation.interval > 0 %}
	{$ mail_content('donation_confirmation/creditcard_interval_notice') $}
{% endif %}

---------------------------------------------------------------------------
{$ mail_content('wikimedia_vision') $}
<https://spenden.wikimedia.de/>
---------------------------------------------------------------------------

{$ mail_content('address_of_suborganization') $}

{$ mail_content('tax_id_suborganization_verbose') $}

{$ mail_content('donation_confirmation/number', {
    'donation_id': donation.id
}) $}