{%- set formattedAmount = membershipFee|number_format(2, ',', '.') ~ ' Euro' -%}

{# TODO improve incentive handling  #}
{% set incentiveText = ( incentives|length > 0 ) ? 'mit dem Wikipedia-Stoffbeutel ' : '' %}

{% if membershipType == 'sustaining' %}
{$- greeting_generator.createInformalLastnameGreeting( salutation, lastName, title )|raw $}
{% else %}
{$- greeting_generator.createInformalGreeting( salutation, firstName, lastName )|raw $}
{% endif %}

{$ mail_content('membership_application_confirmation/intro', {
    'formatted_amount': formattedAmount,
    'donation_interval': paymentIntervalInMonths|payment_interval,
    'membership_type': membershipType|membership_type,
    'incentive': incentiveText
}) $}

{$ mail_content('membership_application_confirmation/contact', {
    'membership_type': membershipType|membership_type,
}) $} {% if hasReceiptEnabled == false %} {$- mail_content('membership_application_confirmation/receipt') $} {% endif %}


{$ mail_content('membership_application_confirmation/outro', { 'day_of_the_week': day_of_the_week } ) $}

{$ mail_content('name_head_of_organization') $}
{$ mail_content('title_head_of_organization') $}
{$ mail_content('address_of_organization')
$}

---------------------------------------------------------------------------
{$ mail_content('wikimedia_vision') $}
<https://www.wikimedia.de/>
---------------------------------------------------------------------------

{$ mail_content('address_of_organization') $}

{$ mail_content('phone') $}
www.wikimedia.de

{$ mail_content('tax_id_organization') $}