{% extends 'Base_Layout.html.twig' %}

{% block main %}
	<div id="app">
		<noscript>
			<h2>{$ site_metadata.no_javascript_header $}</h2>
			{$ web_content( 'pages/no_javascript' ) $}
		</noscript>
	</div>
	<div id="appdata"
		 class="is-hidden"
		 data-application-vars="{$ faq_content|e('html_attr') $}"
		 data-application-messages="{$ translations()|e('html_attr') $}"
		 data-assets-path="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}">
	</div>
{% endblock %}

{% block scripts %}
	{$ parent() $}
	<script src="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}/js/frequent_questions.js"></script>
{% endblock %}
