{% extends 'Base_Layout.html.twig' %}

{% block main %}
    <div id="app">
        <noscript>
            <h2>{$ site_metadata.page_not_found_header $}</h2>
            <p>{$ site_metadata.page_not_found | raw $}<p>
        </noscript>
    </div>
    <div id="appdata"
         class="is-hidden"
         data-application-vars="{$ use_of_funds_content|e('html_attr') $}"
         data-application-messages="{$ translations()|e('html_attr') $}"
         data-assets-path="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}">
    </div>
{% endblock %}

{% block scripts %}
    {$ parent() $}
    <script src="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}/js/funds_usage.js"></script>
{% endblock %}
